body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.bg-dark {
  background-color: #a0372c !important;
}

.btn-primary {
  color: #fff;
  background-color: #a0372c;
  border-color: #a0372c;
}

.header {
  height: 50vh;
  min-height: 300px;
  background: url("/images/skirrid.jpg") center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.header .background-mask {
  position: relative;
  left: 0px;
  top: 0%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.33);
}
.header h1,
.header h3 {
  text-transform: uppercase;
}

.card {
  height: 100%;
}
